<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/public/stylesheets/styleLogin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Footer </title>
</head>

<body>
  <footer class="footer"style="margin-top: 20px; font-weight: bold; background-color: hsl(347, 90%, 96%)">

    <!-- Three columns created using columns class of Bulma -->
    <div class="container p-4" >
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Conntact</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-black-50"><i class="fas fa-book fa-fw fa-sm me-2"></i>Bestsellers</a>
            </li>
            <li>
              <a href="#!" class="text-black-50"><i class="fas fa-book fa-fw fa-sm me-2"></i>All player</a>
            </li>
            <li>
              <a href="#!" class="text-black-50"><i class="fas fa-user-edit fa-fw fa-sm me-2"></i>Our authors</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
      
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Content</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-black-50">List player</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">List Nation</a>
            </li>
            <li>
              <a href="#!" class="text-black-50">List user</a>
            </li>
            <li>
              <a href="#!" class="text-black-50"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i>Send us a player</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-9 mb-6 mb-md-0">
          <h5 class="text-uppercase">
            FOOTBALL HAS ALWAYS BEEN CONSIDERED AS A KING SPORT, A SUBJECT THAT IS FAVORITE IN ALL COUNTRIES IN THE WORLD. FOOTBALL DEVELOPED FROM CITY TO RURAL, FROM ADULTS TO CHILDREN, THEY PLAYING FOOTBALL WITH FAST PASSION. </h5>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="https://www.facebook.com/phuocthanh01/">PhuocThanh</a>
    </div>
  
    </footer>
</body>

