<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>

    <body>
        <h1 style="text-align: center; margin-top: 100px; font-size: 40px; font-weight: 500; margin-bottom: 20px;">
            CHANGE PASSWORD</h1>
        <div>
            <% if(error_msg !='' ){ %>
                <div class="notification is-danger is-light"
                    style="margin-top: 55px;font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px;">
                    <%= error_msg %>
                </div>
                <% } %>
                    <% if(success_msg !='' ){ %>
                        <div class="notification is-success is-light"
                            style="font-size: 36px;font-weight: 900;margin-bottom: 20px;display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px;"
                            style="margin-top: 100px;">
                            <%= success_msg %>
                        </div>
                        <% } %>
        </div>
        <form method="post" class="container is-max-desktop" style="margin-top: 10px;">
            <div class="field is-horizontal" style="margin-bottom: 30px;">
                <div class="field-label is-normal">
                    <label class="label">Current Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input id="input1" class="input is-info" name="currentPassword" type="password">
                        </div>
                        <p class="help is-danger" id="alert1" style="display: none">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" style="margin-bottom: 30px;">
                <div class="field-label is-normal">
                    <label class="label">New Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input id="input2" class="input is-info" name="newPassword" type="password" required>
                        </div>
                        <p class="help is-danger" id="alert2" style="display: none">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>


            <div class="field is-horizontal" style="margin-bottom: 30px; ">
                <div class="field-label is-normal">
                    <label class="label">Confirm New Password</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input id="input3" class="input is-info" name="confirmPassword" required type="password">
                        </div>
                        <p class="help is-danger" id="alert3" style="display: none">
                            This field is required
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button id="myButton" disabled class="button is-primary" type="submit"
                                style="margin-left: 180px;">
                                UPDATE
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script>
        const input1 = document.querySelector('#input1');
        const input2 = document.querySelector('#input2');
        const input3 = document.querySelector('#input3');
        const submitBtn = document.querySelector('#myButton');
        const alert1 = document.querySelector('#alert1');
        const alert2 = document.querySelector('#alert2');
        const alert3 = document.querySelector('#alert3');
        const regex = /^[a-zA-Z0-9]{6,}$/; // Biểu thức chính quy để kiểm tra giá trị nhập vào

        input1.addEventListener('blur', (event) => {
            const value = event.target.value;
            if (value.length < 6) {
                alert1.textContent = 'Passwords must be at least 6 characters!';
                alert1.style.display = 'block';;
            } else {
                alert1.style.display = 'none';
            }
            checkValidity();
        });

        input2.addEventListener('blur', (event) => {
            const value = event.target.value;
            if (value.length < 6) {
                alert2.textContent = 'New Password must be at least 6 characters!';
                alert2.style.display = 'block';
            } else if (value === input1.value) {
                alert2.textContent = 'New Password duplicated with Current Password!';
                alert2.style.display = 'block';
            }
            else if (value !== input3.value) {
                alert3.textContent = 'Confirm Password must be match with New Password!';
                alert3.style.display = 'block';
            } else {
                alert2.style.display = 'none';

            }
            checkValidity();
        });

        input3.addEventListener('blur', (event) => {
            const value = event.target.value;
            if (value.length < 6) {
                alert3.textContent = 'Confirm Password must be at least 6 characters!';
                alert3.style.display = 'block';
            }
            else if (value !== input2.value) {
                alert3.textContent = 'Confirm Password must be match with New Password!';
                alert3.style.display = 'block';
            } else {
                alert3.style.display = 'none';
            }
            checkValidity();
        });

        function checkValidity() {
            const value1 = input1.value;
            const value2 = input2.value;
            const value3 = input3.value;
            if (value1.length >= 6 &&
                value2.length >= 6 &&
                value3.length >= 6 && value1 !== value2 && value2 === value3) {
                submitBtn.disabled = false;
            } else {
                submitBtn.disabled = true;
            }
        }

    </script>

</html>