<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/589ebc73ef.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
          integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
          crossorigin="anonymous"></script>
  <title>Forgot Password</title>
</head>
<body>
<section class="hero is-fullheight" style="background-size: cover; background-image: url(https://i1-thethao.vnecdn.net/2022/04/02/fpru7i8xwaqg1zv-jpeg-164887627-6979-7297-1648876277.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=EkJDfsGuYJ4l-IvCFRw8uA);">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title has-text-centered" style="color: #fff;">Forgot Password</h1>
          <% if (errors.length > 0) { %>
          <div class="notification is-danger">
            <button class="delete"></button>
            <% errors.forEach(function(error){ %>
            <p><%= error.msg %></p>
            <% }); %>
          </div>
          <% } %>
          <% if (success_msg != '') { %>
          <div class="notification is-success">
            <button class="delete"></button>
            <p><%= success_msg %></p>
          </div>
          <% } %>
          <form method="post" action="/users/forgot-password">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" name="email" placeholder="Enter your email" required>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button id="submitBtn" class="button is-primary" type="submit">Reset Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  // Xử lý tắt thông báo
  const submitBtn = document.querySelectorAll('#submitBtn');
  submitBtn.addEventListener('click', (event) => {
    submitBtn.disabled = true;
  })
  const deleteBtns = document.querySelectorAll('.delete');
  deleteBtns.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      e.target.parentNode.classList.add('is-hidden');
    });
  });
</script>
</body>
</html>