<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/589ebc73ef.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/js/bulma.min.js"
          integrity="sha512-XSL8md+KzAg/ysd1EBcvzQx+8keNkzJ1pogDe+bJN9P5/RW+5c5v5d6Am++F6fmnt8wpD22fCaC/MP1M48hRtg=="
          crossorigin="anonymous"></script>
  <title>Forgot Password</title>
</head>
<body>
<section class="hero is-fullheight" style="background-size: cover; background-image: url();">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title has-text-centered" style="color: #030303; background-color: aliceblue;">8 điểm được rồi  !!!</h1>
          <button > 
            <a href="http://localhost:3000/users/login">Quay đầu là bờ</a>
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>