<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/public/stylesheets/styleLogin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Login </title>
</head>
<style>
  .gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  background-image: url('https://i.pinimg.com/550x/13/c6/d3/13c6d3621dddcb5c860f329701b25dad.jpg');
  background-repeat: no-repeat;
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  </style>
<body style="background-image: url('https://t3.ftcdn.net/jpg/04/84/56/02/360_F_484560228_OFLEvMOwpDAJfvAHveEBdVnzu4w6gfCe.jpg');background-size: contain;">
  <div>
    
    <section class="h-100 gradient-form" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">
    
                    <div class="text-center">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJHHII6KklefjXi4mJa4eOU3xDhWX65zQLrw&usqp=CAU"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                    </div>
    
                    <form method="post">
                      <p>Please login to your account</p>
    
                      <div class="form-outline mb-4">
                        
                          <input class="form-control" name="userName" type="text"  placeholder="Type your username...." >
                        <label class="form-label" for="form2Example11">Username</label>
                        
                      </div>
    
                      <div class="form-outline mb-4">
                      
                        <input  class="form-control" name="password"  type="password" placeholder="At least 6 characters" >
                        <label class="form-label" for="form2Example22">Password</label>
                      </div>
                      <div class="text-center pt-1 mb-5 pb-1">
            
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Login</button>
                          <a href="/users/forgot-password" class="button is-warning" style="width:9vw">Forgot password?</a>
                    
                    </div>
                  
    
                      <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <a type="button" class="btn btn-outline-danger" href="/users">
                          Create new</a>
                      </div>
                      <% if(error_msg !='' ){ %>
                        <div class="notification is-danger is-light" style="padding: 2px; text-align: center;">
                          <%= error_msg %>
                        </div>
                        <% } %>
                        <% if(success_msg !='' ){ %>
                          <div class="notification is-success is-light" style="padding: 2px; text-align: center;">
                            <%= success_msg %>
                          </div>
                          <% } %>
                          <% if(error !='' ){ %>
                            <div class="notification is-danger is-light" style="padding: 2px; text-align: center;">
                              <%= error %>
                            </div>
                            <% } %>
                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Football is my life!</h4>
                    <p class="small mb-0"> Football is my first and the last love of my life!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

  </div>
</body>

</html>



